# obsidian specific files
.obsidian/
*.obsidian

# ignore workspace and cache
.obsidian/workspace
.obsidian/cache

# ignore Obsidian backups
.obsidian/backup/

# ignore any private files
private/
private/*